div#background{
    background-color: #141316;
    background-image: none;
}

div#general #all_categories{
    width: calc( 100% - 352px);
    height: 100%;
    color: #FFFFFF;
}

.category{
    position: relative;
    height: 288.5px;
    width: 100%;
    overflow: hidden;
}
.category h3{
    margin: 24px 0;
}
.hover_scroll{
    position:absolute;
    width: 74px;
    height:218px;
    background-color: rgba(100, 100, 100, 0.5);
    z-index: 2;
    border-radius: 12px;
}
.category_wraper{
    position:absolute;
    left:0;
    overflow: hidden;
    width: 100%;
    height: 218px;
    border-radius: 12px;
}
.category_roller{
    position:absolute;
    left:0;
    width: 2368px;
}
.position{
    display: block;
    position: relative;
    width: 368px;
    height: 218px;
    border-radius: 12px;
    float: left;
    background-size: cover;
    margin-right: 32px;
}
.position:last-child{
    margin-right: 0;
}
.position_name{
    position: absolute;
    bottom:24px;
    left: 24px;
}